body {
  margin: 0;
  padding: 0;
  background: RGB(245, 245, 245);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: RGB(245, 245, 245);
}

.search-box {
border-radius: 30px;
padding: 2px;
background: white;
height: 40px;
width: 500px;

outline: gray;
}

.search-btn {
  color: gray;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 10px;
  color: black;
  font-size: 16px;
  transition: 0.4s; 
  line-height: 20px;
  width: 400px; 
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: grey;
  outline: none;
}

.button {
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: RGB(244, 244, 244);
  text-emphasis: bold;
}

.footer {
  background-color: rgb(230, 230, 230);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer_nav_container li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;

}

.header_nav li {
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}